/C_Sharp_Essential/Employee/bin
/C_Sharp_Essential/Employee/obj
/C_Sharp_Essential/.vs
/C_Sharp_Essential/Vehicle/obj
/C_Sharp_Essential/Vehicle/bin
/C_Sharp_Essential/Player/bin
/C_Sharp_Essential/Player/obj
/C_Sharp_Essential/Invoice/bin
/C_Sharp_Essential/Invoice/obj
